@font-face {
    font-family: "Scaly Sans";
    src: url("https://rawcdn.githack.com/jonathonf/solbera-dnd-fonts/83e4c10313e6c042126bd2966075c1300ead5c3f/Scaly Sans/Scaly Sans.otf") format("opentype");
}
@font-face {
    font-family: "Scsaly Sans Bold";
    src: url("https://rawcdn.githack.com/jonathonf/solbera-dnd-fonts/83e4c10313e6c042126bd2966075c1300ead5c3f/Scaly Sans/Scaly Sans Bold.otf") format("opentype");
}

@font-face {
    font-family: "Bookinsanity";
    src: url("https://rawcdn.githack.com/jonathonf/solbera-dnd-fonts/master/Bookinsanity/Bookinsanity.otf") format("opentype");
}
@font-face {
    font-family: "Bookinsanity Bold";
    src: url("https://rawcdn.githack.com/jonathonf/solbera-dnd-fonts/master/Bookinsanity/Bookinsanity Bold.otf") format("opentype");
}
@font-face {
    font-family: "Mr Eaves Small Caps";
    src: url("https://rawcdn.githack.com/jonathonf/solbera-dnd-fonts/master/Mr Eaves/Mr Eaves Small Caps.otf") format("opentype");
}
@font-face {
    font-family: "Nodesto Caps Condensed";
    src: url("https://rawcdn.githack.com/jonathonf/solbera-dnd-fonts/master/Nodesto Caps Condensed/Nodesto Caps Condensed.otf") format("opentype");
}
@font-face {
    font-family: "Nodesto Caps Condensed Bold";
    src: url("https://rawcdn.githack.com/jonathonf/solbera-dnd-fonts/master/Nodesto Caps Condensed/Nodesto Caps Condensed Bold.otf") format("opentype");
}
.dungeontech{
    font-family: "Nodesto Caps Condensed Bold";
    font-size: 170px;
    text-align: center;
}
#firstone{
    font-family: "Bookinsanity Bold";
    text-align: center;
    font-size: 50px;
    background-color: rgb(49, 45, 45);
}
@font-face {
    font-family: "Scaly Sans Caps";
    src: url("https://rawcdn.githack.com/jonathonf/solbera-dnd-fonts/master/Scaly Sans Caps/Scaly Sans Caps.otf") format("opentype");
}
@font-face {
    font-family: "Scaly Sans Caps Bold";
    src: url("https://rawcdn.githack.com/jonathonf/solbera-dnd-fonts/master/Scaly Sans Caps/Scaly Sans Caps Bold.otf") format("opentype");
}
}
@font-face {
    font-family: "Solbera Imitation";
    src: url("https://rawcdn.githack.com/jonathonf/solbera-dnd-fonts/tree/master/Solbera Imitation") format("opentype");
}
}
@font-face {
    font-family: "Solbera Imitation";
    src: url("https://rawcdn.githack.com/jonathonf/solbera-dnd-fonts/master/Zatanna Misdirection/Zatanna Misdirection.otf") format("opentype");
}

/* Overall Text Font */
* {
    font-family: "Arial", Arial;
    font-size: 1em;
}

body {
    background-image: radial-gradient(rgb(255, 1, 1), rgb(34, 31, 31));
}

#relative {
    position: relative;
    left: 10px;
    border: 3px solid;
}

#top{
    background-color: rgb(49, 45, 45);
    margin-bottom: -125px;
    margin-top: -125px;
}

/* Top Header */

#links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
.link-item {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.link-item:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: #4CAF50;
}

/* The Share Modal */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.share-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  text-align: center;
}

.closeModal {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.share-icons {
    font-size: 350%;
    margin: .5em;
    color: inherit;
    text-decoration: none;
}

#share-twitter {
    color: lightskyblue;
}

#share-facebook {
    color: #38A1F3;
}
#share-instagram {
    color: #000000
}
#share-reddit {
    color: #FF5700;
}

#share-modal-text {
    font-size: 1.5em;
    font-family: "Arial", Arial;
}

#social-media-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

