/* Overall Text Font */
* {
    font-family: "Bookinsanity", "Arial";
    font-size: 102%;
}

/* Overall Text Formatting / Margins */
.content-container {
    overflow: hidden;
}

/* Centers content vertically and horizontally */
.center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Main container that content is held in */
.center-content-container {
    overflow: visible;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 20px;
    text-align: left;
    align-content: left;
}

/* Article header */
.article-title {
    text-align: left;
    margin-left: 0em;
    margin-top: 1.5em;
    font-size: 2em;
}

/* Remove bullets from list */
.no-bulleted-list {
    list-style-type: none;
}

/* Top Header */
#header {
    height: 4.5em;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    border-bottom: 5px solid red;
    position: -webkit-sticky;
    position: sticky;
}

/* Allow Header to Follow Scroll */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#links {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 1em;
    padding: 0;
    overflow: hidden;
}
  
.link-item {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 1.4em 16px;
    text-decoration: none;
    font-size: 1.2em;
    font-family: "Mr Eaves Small Caps";

}

.logo-item{
    text-align: center;
}

.link-item:hover:not(.active) {
    background-color: rgb(0, 0, 0);
}

.active {
    background-color: #4CAF50;
}

/* Site Header Image */
#top{
    background-image: url(./images/Website-top.png);
    background-position: center;
    height: 500px;
    margin: 0;
    padding: 0;
    overflow: auto;
}

/* Site Title */
.dungeontech{
    font-family: "Nodesto Caps Condensed Bold";
    font-size: 110px;
    text-align: center;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    background-clip: text;
    -webkit-text-fill-color: red;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 2px 2px 19px rgb(0, 0, 1);
    -webkit-text-fill-color: rgb(255, 255, 255);;  
    margin-top: .15em;
}
.title-understroke{
    background-image: url(./D&D\ title\ understroke.png);
    right: 0px;
    text-align: center;
    margin-top: -215px;
    margin-left: 22em;
    margin-bottom: 0px;
    background-position: absolute;
}

/* Site Info */
body {
    background-image: url(./images/background-3.png);
    margin: 0;
    padding: 0;
    border-bottom: 5px solid red;
}

.firstone{
    font-family: "Nodesto Caps Condensed Bold";
    text-align: center;
    font-size: 80px;
    color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    text-shadow: 2px 2px 19px rgb(0, 0, 1);
    margin-top: -180px;
    margin-bottom: 0;
}

#main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    align-content: center;
    text-align: center;
}
 .image1-align{
     text-align: right;
 }


 /*When the browser is less than 800px*/
@media (max-width: 800px) {
    #main-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-content: center;
        text-align: center;
    }

    .title-understroke{
        background-image: url(./D&D\ title\ understroke.png);
        right: 0px;
        text-align: left;
        margin-top: -215px;
        margin-left: 4em;
        margin-bottom: 0px;
        background-position: absolute;
    }

    .logo-item{
    left: 125px;
    }

    .firstone{
        font-family: "Nodesto Caps Condensed Bold";
        text-align: left;
        font-size: 80px;
        color: white;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: black;
        text-shadow: 2px 2px 19px rgb(0, 0, 1);
        margin-top: -190px;
        margin-bottom: 0;
    }

    .dungeontech{
        font-family: "Nodesto Caps Condensed Bold";
        font-size: 110px;
        text-align: left;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: black;
        background-clip: text;
        -webkit-text-fill-color: red;
        margin-top: 0;
        margin-bottom: 0;
        text-shadow: 2px 2px 19px rgb(0, 0, 1);
        -webkit-text-fill-color: rgb(255, 255, 255);;  
        margin-left: .8em;
        margin-top: .15em;
    }
    .card {
        background-color: #fefefe;
        margin-top: 20px;
        padding: 0px;
        text-align: center;
        border-radius: 20px;
        display: block;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .grid {
        margin: auto;
        margin-bottom: 20px;
    }

}    

/* CSS Cards  For Grid/Layout */

.card {
    background-color: #fefefe;
    margin-top: 20px;
    padding: 0px;
    text-align: center;
    border-radius: 20px;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 562.5;
    height: 474.75px;
    border-radius: 5px;
    object-fit: cover;
}
.grid-left {
    margin-right: 20px;
    margin-bottom: 20px;
}

.grid-right {
    margin-right: 20px;
    margin-bottom: 20px;
}

.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}


img {
  border-radius: 5px 5px 0 0;
}


.container {
  padding: 2px 16px;
}

#explination{
    text-align: center;
}
#explinationimage1{
    margin-right: 1px;
    position: absolute;
}

/* Footer */
#footer {
    background-color: #1e1e1e;
    border-top: 5px solid red;
    height: auto;
    overflow: hidden;
}

.footer-text {
    color: #ffffff;
    margin-bottom: 3%;
}

.grid1 {
    width: 50px;
    height: 50px;
    padding: 0px;
    border: 1px solid #aaaaaa;
  }
  .grid1 img{
    border-radius: 0;
  }
  
  
  /*bottom table*/
  table {
    table-layout: fixed;
    width: 76%;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
  }
  
  thead th:nth-child(1) {
    width: 30%;
  }
  
  thead th:nth-child(2) {
    width: 20%;
  }
  
  thead th:nth-child(3) {
    width: 20%;
  }
  
  thead th:nth-child(4) {
    width: 35%;
  }
  
  th, td {
    padding: 20px;
  }
  thead th, tfoot th, tfoot td {
    border: 3px solid rgb(0, 0, 0);
  }
  table {
    background-color: #aaaaaa00;
    border: 3px solid rgb(0, 0, 0);
  }
  tbody tr:nth-child(even) {
    background-color: #aaaaaa00;
    border: 3px solid rgb(0, 0, 0);
  }
  tbody tr:nth-child(odd) {
    background-color: #aaaaaa00;
    border: 3px solid rgb(0, 0, 0);
  }