/* Overall Text Font */
* {
    font-family: "Arial", Arial;
    font-size: 1em;
}

/* Top Header */

#header {
    height: 3em;
    margin: 0;
    padding: 0;
    background-color: #333;
}

#links {
    list-style-type: none;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;
}
  
.link-item {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2em;
}
  
.link-item:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: #4CAF50;
}


/* Site Title */
.dungeontech{
    font-family: "Nodesto Caps Condensed Bold";
    font-size: 170px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}
.subtitle{
    font-size: 70px;
}

/* Site Info */
body {
    background-image: radial-gradient(rgb(255, 1, 1), rgb(34, 31, 31));
    margin: 0;
    padding: 0;
}

#firstone{
    font-family: "Bookinsanity Bold";
    text-align: center;
    font-size: 50px;
    background-color: rgb(49, 45, 45);
}

#top{
    background-image: url(./Webpage\ home.png);
    background-position: center;
    height: 500px;
    margin: 0;
    padding: 0;
}