#div2 {
height: 50px;
width: 50px; 
display: inline-block;
margin: -4.5px -2px -4.5px -2px;
padding: 0px;
}
#div1{
    height: 50px;
width: 50px;
}

body{
    background-image: url('./images/Body-background.jpg')
}